<%= form_with(model: lead, url: pipeline_leads_path, local: true) do |form| %>
  <% if lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
        <% lead.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :email, class: 'form-control', placeholder: 'Email' %>
  </div>

  <%= form.submit 'Создать', class: 'btn btn-primary' %>
  <%= link_to 'Назад', pipelines_path, class: 'btn btn-outline-secondary' %>

  <%= form.hidden_field :pipeline_id, value: params['pipeline_id'] %>

<% end %>
