<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @lead.uid %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lead.email %>
</p>

<p>
  <strong>Price:</strong>
  <%= @lead.price %>
</p>

<p>
  <strong>Pipeline:</strong>
  <%= @lead.pipeline %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
