<%= form_with(model: pipeline, local: true) do |form| %>
  <% if pipeline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pipeline.errors.count, "error") %> prohibited this pipeline from being saved:</h2>

      <ul>
      <% pipeline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title, class: 'form-control', placeholder: 'Название воронки' %>
  </div>

  <%= form.submit 'Создать', class: 'btn btn-primary' %>
  <%= link_to 'Назад', pipelines_path, class: 'btn btn-outline-secondary' %>
<% end %>
