<p id="notice"><%= notice %></p>

<h1 class="">Воронки</h1>

<div class="row">
  <% @pipelines.each do |pipeline| %>
    <div class="col-sm-3">

      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= link_to pipeline.title, pipeline %>
            | <%= link_to 'X', pipeline, method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-primary' %></h4>
        </div>
      </div>
      <br>
    </div>
    <br>
<% end %>
</div>



