<p id="notice"><%= notice %></p>
<div class="text-left">
  <h4><%= @pipeline.title %>
    | <%= link_to 'Создать карточку', new_pipeline_lead_path(pipeline_id: @pipeline.id), class: 'btn btn-primary' %></h4>

</div>
<hr>

<table class="table table-hover">
  <thead class="table-info">
  <tr>
    <th>Почта</th>
    <th>Стоимость</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% if @leads.present? %>

    <% @leads.each do |lead| %>


      <tr>
        <td><%= lead['email'] %></td>
        <% if lead['price'].present? %>

          <td><%= lead['price'] %></td>

        <% else %>

          <td> <%= form_with(url: pipeline_lead_path(@pipeline, lead), method: 'put') do %>
            <%= text_field_tag :price, nil, class: 'form-control', placeholder: 'Сумма оплаты' %>
            <%= hidden_field_tag :pipeline_id, @pipeline.uid %>
          </td>

          <td>
            <%= submit_tag "Подтвердить оплату", class: 'btn btn-primary' %>
          </td>
        <% end %>

        <% end %>

      </tr>

    <% end %>

  <% end %>
  </tbody>
</table>