<%= form_with(model: pipe, local: true) do |form| %>
  <% if pipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pipe.errors.count, "error") %> prohibited this pipe from being saved:</h2>

      <ul>
      <% pipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
