<p id="notice"><%= notice %></p>

<h1>Pipes <%= link_to '+', new_pipe_path, class: 'badge badge-primary' %></h1>

  <% @pipes.each do |pipe| %>


    <div class="card">
      <h5 class="card-header"><%= pipe.last %> | <%= pipe.first %>
        <%= link_to 'X', pipe_path(pipe.first), method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-primary' %>
      </h5>

      <div class="card-body">
        <h5 class="card-title">

          <%= form_with(url: "/add_lead", method: "get") do %>
            <%= label_tag(:email, "email:") %>
            <%= email_field_tag(:email) %>

            <%= hidden_field_tag :pipe_uid, pipe.first %>
            <%= submit_tag("Зарегистрировать") %>
          <% end %>
        </h5>

        <table class="table table-hover">
          <thead class="table-info">
          <tr>
            <th>email</th>
            <th>price</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% if @leads.present? %>

            <% @leads.each do |lead| %>
              <% if lead['pipeline_id'] == pipe.first %>

                <tr>
                  <td><%= lead['name'] %></td>
                  <td> <%= form_with(url: "/update_lead", method: "get") do %>

                      <%= label_tag(:price, "Price:") %>
                      <%= text_field_tag(:price) %>

                      <%= hidden_field_tag :pipe_uid, pipe.first %>
                      <%= submit_tag("Оплачено") %>
                    <% end %>
                  </td>

                </tr>

              <% end %>
            <% end %>

          <% end %>
          </tbody>
        </table>


      </div>
    </div>

    <br>
  <% end %>


