<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pipe.name %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @pipe.uid %>
</p>

<%= link_to 'Edit', edit_pipe_path(@pipe) %> |
<%= link_to 'Back', pipes_path %>
