<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li><%= link_to "Воронки", pipelines_path, class: 'btn btn-primary' %></li>
      <li><%= link_to "Создать воронку", new_pipeline_path, class: 'btn btn-primary' %></li>
    </ul>

    <span class="navbar-text">
      <% if user_signed_in? %>
        <b><%= current_user.email %></b> |
        <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
      <% end %>
    </span>
  </div>
</nav>